body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #000000; /* Pure black background */
  color: #e0e0e0; /* Light gray text */
  overflow: hidden; /* Prevent scrolling */
  font-family: 'Orbitron', sans-serif; /* Sci-fi font */
}

/* Add this if using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
